.text-type {
  display: inline-flex;
  align-items: center;
}

.text-type__content {
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 2px;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
